<div ng-controller="CalController" ng-init="find()" class="row">
    <br>
    <div class="col s2">
        <a id="currentHouse" class="waves-effect waves-light btn red"></a>
    </div>
    <div class="col s4 left-align">
        <select id="houselist" class="browser-default" ng-options="house.name for house in houses track by house.id" ng-model="selectedOption" ng-change="changeValue(selectedOption)">
            <option value="" selected>请选择营地</option>
        </select>
    </div>
    <br><br><br>
    <div id="backend"></div>
</div>
<script>
$(document).ready(function() {
    var houseId = 'H001';
    var houseName = '喜乐窝';
    if (window.location.href.indexOf('?') > 0) {
        vars = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        houseId = vars[0].split('=')[1];
        houseName = decodeURIComponent(vars[1].split('=')[1]);
    }
    console.log("houseId = " + houseId);
    $('#currentHouse').text(houseName);
    $('#backend').DOPBackendBookingCalendarPRO({
        'ID': houseId,
        'loadURL': 'api/cal/loadcal',
        'saveURL': 'api/cal/savecal'
    });
    var dateControl = '#' + "DOPBCP-start-date-view" + houseId
    console.log($(dateControl).text);
    interval = setInterval(checkSearchChanged, 2000);
    function checkSearchChanged() { 
        if($(dateControl).val() != '' && $(dateControl).val().length > 1) {
            console.log($('#DOPBCP-submit')); 
            //$('#DOPBCP-price').val('1000');
            clearInterval(interval);
            $('#DOPBCP-submit').click(function(e){
                var price = $('#DOPBCP-price').val()
                console.log("price = " + parseInt(price));
                console.log("status = "  + $('#DOPBCP-status').val());
                if(!parseInt(price) && $('#DOPBCP-status').val() == 'available') {
                    console.log("请设定营地价格");
                    alert("请设定营地价格");
                    e.preventDefault();
                }
            });         
        }
    }
});
</script>