<div ng-controller="HouseController" ng-init="findOne()">
    <br>
    <ul class="collection with-header">
        <li class="collection-header">
            <h5> 营地名： {{house.name}} &nbsp;&nbsp;&nbsp;
                <button class="btn waves-effect waves-light red" ng-click="update()" name="action">保存修改</button>
                <button class="btn waves-effect waves-light" ng-click="close()" name="action">返 回</button>
            </h5>
        </li>
        <li class="collection-item row">
            <div class="col s4">
                所属部落：
                <select class="browser-default" ng-model="house.tribe">
                    <option value="" disabled selected>指定所属部落</option>
                    <option value="石舍香樟">石舍香樟</option>
                    <option value="芦茨土屋">芦茨土屋</option>
                    <option value="凤溪玫瑰">凤溪玫瑰</option>
                </select>
            </div>
            <div class="input-field col s2 offset-s1">
                <input id="code" type="text" class="validate" ng-model="house.display_id">
                <label for="code" class="active">营地编号</label>
            </div>
            <div class="input-field col s1">
                <input id="capacity" type="text" class="validate" ng-model="house.capacity">
                <label for="capacity" class="active">入住人数</label>
            </div>
            <div class="input-field col s1">
                <input id="average_price" type="text" class="validate" ng-model="house.average_price">
                <label for="average_price" class="active">均价</label>
            </div>
            <div class="input-field col s1 offset-s1">
                <input id="likes" type="text" class="validate" ng-model="house.likes">
                <label for="likes" class="active">点赞数</label>
            </div>
        </li>
        <li class="collection-item row">
            <div class="input-field col s2">
                <input id="owner" type="text" class="validate" ng-model="house.owner">
                <label for="owner" class="active">营主昵称</label>
            </div>
            <div class="input-field col s9 offset-s1">
                <input id="avator" type="text" class="validate" ng-model="house.avator">
                <label for="avator" class="active">营主头像</label>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="description" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;营地描述(限30字以内)</label>
                <textarea id="description" class="materialize-textarea" ng-model="house.description"></textarea>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="story" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;营地故事</label>
                <textarea id="story" class="materialize-textarea" ng-model="house.story"></textarea>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="housepic" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;营地图片，请在英文状态用逗号隔开</label>
                <textarea id="housepic" class="materialize-textarea" ng-model="housepic"></textarea>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="owner_story" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;营主故事</label>
                <textarea id="owner_story" class="materialize-textarea" ng-model="house.owner_story"></textarea>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="ownerpic" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;营主图片，请在英文状态用逗号隔开</label>
                <textarea id="ownerpic" class="materialize-textarea" ng-model="ownerpic"></textarea>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="facility" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;营地设施</label>
                <textarea id="facility" class="materialize-textarea" ng-model="house.facility"></textarea>
            </div>
        </li>
        <li class="collection-item">
            <div>
                <label for="facpic" class="active"> <i class="mdi-editor-mode-edit"></i> &nbsp;设施图片，请在英文状态用逗号隔开</label>
                <textarea id="facpic" class="materialize-textarea" ng-model="facpic"></textarea>
            </div>
        </li>
    </ul>
</div>