<div ng-controller="OrderController" ng-init="initCreate()">
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>[新增订单] 订单号： {{order.orderId}}</h5></li>
        <li class="collection-item row">
            <div class="col s3">入住营地
                <select class="browser-default" ng-model="order.houseId">
                    <option value="" disabled selected>指定入住营地</option>
                    <option ng-repeat="house in houses" value="{{house.id}}">{{house.name}}</option>
                </select>
            </div>
            <div class="input-field col s2">
                <input id="totalPrice" type="text" class="input-field" ng-model="order.totalPrice">
                <label for="totalPrice">总价</label>
            </div>
        </li>
        <li class="collection-item row">
            <p class="col s4">入住时间:
                <input type="date" class="datepicker" ng-model="order.checkInDay">
            </p>
            <p class="col s4">退房时间:
                <input type="date" class="datepicker" ng-model="order.checkOutDay">
            </p>
        </li>
        <li class="collection-item row">
            <div class="col s4">订单状态
                <select class="browser-default" ng-model="order.status">
                    <option value="" disabled selected>指定订单状态</option>
                    <option value="已提交">已提交</option>
                    <option value="支付成功">支付成功</option>
                    <option value="支付失败">支付失败</option>
                    <option value="支付已取消">支付已取消</option>
                    <option value="订单取消">订单取消</option>
                </select>
            </div>
        </li>
        <li class="collection-item row">
            <div class="input-field col s12">
                <textarea id="memo" class="materialize-textarea" ng-model="order.memo"></textarea>
                <label for="memo" class="active">备注(在此填写客人的相关资料, 如联系方式等)</label>
            </div>
        </li>
    </ul>
    <button class="btn waves-effect waves-light red" ng-click="create()" name="action">提交订单</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn waves-effect waves-light" ng-click="close()" name="action">返 回</button>
</div>