<section ng-controller="OrderController" ng-init="find()">

    <div class="starter-template">
        <h1>&nbsp;</h1>
    </div>

    <table class="table striped">
        <thead>
            <tr>
                <th>订单号</th>
                <th><a href="#/orders" ng-click="orderByField='createDay'; reverseSort = !reverseSort">下单日期<span ng-show="orderByField == 'createDay'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a></th>
                <th>营地</th>
                <th><a href="#/orders" ng-click="orderByField='checkInDay'; reverseSort = !reverseSort">入住日期 <span ng-show="orderByField == 'checkInDay'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a></th>
                <th>退房</th>
                <th>昵称</th>
                <th><a href="#/orders" ng-click="orderByField='status'; reverseSort = !reverseSort">状态<span ng-show="orderByField == 'status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a></th>
            </tr>
        </thead>
        <tr ng-repeat="order in orders|orderBy:orderByField:reverseSort">
            <td><a data-ng-href="#/orders/{{order.orderId}}"> <i class="mdi-editor-mode-edit"></i> {{order.orderId}} </a></td>
            <td>{{order.createDay}}</td>
            <td>{{order.houseName}}</td>
            <td>{{order.checkInDay}}</td>
            <td>{{order.checkOutDay}}</td>
            <td>{{order.wechatNickName}}</td>
            <td>{{order.status}}</td>
        </tr>
    </table>
</section>