<div ng-controller="SurveyController" ng-init="find()">
    <br>
    <p> &nbsp;共{{length}}条问卷记录 &nbsp;
        <button class="btn waves-effect waves-light red" ng-click="export('志愿者')" name="exportVolunteer">导出志愿者问卷</button>
        &nbsp;
        <button class="btn waves-effect waves-light" ng-click="export('入住')" name="exportCheckIn">导出入住问卷</button>
    </p>
    <br>
    <table class="table striped">
        <thead>
            <tr class="teal lighten-4">
                <th>问卷类型</th>
                <th>填写时间</th>
                <th>填写人</th>
                <th>内容</th>
            </tr>
        </thead>
        <tr ng-repeat="survey in surveys">
            <td> <a data-ng-href="#/surveys/{{survey._id}}"> <i class="mdi-editor-mode-edit"</i> {{survey.type}} </a></td>
            <td>{{survey.createDay}}</td>
            <td>{{survey.userinfo['nickname']}}</td>
            <td class="shortten">{{survey}}</td>
        </tr>
    </table>
    <br>
</div>